.title {
    font-size: xx-large;
    margin-bottom: 1em;
}

html {
    font-family: sans-serif;
    font-size: large
}

.pairs {
    padding-bottom: 1em;
}

.section {
    font-size: x-large;
    margin-bottom: 1em;
    margin-top: 1em;
}

.value {
    font-weight: bold;
}

.extra {
    font-weight: normal;
}

.suspect {
    color: #aa0000;
}

table {
    /* margin-left: -2em; */
    border-collapse: collapse;
}

th, td {
    padding-right: 2em;
    white-space: pre;
}

th {
    padding-bottom: 1em;
}

thead {
    font-weight: bold;
    border-bottom: 0.1em solid black;
}

th {
    font-weight: bold;
}

tbody {
    font-weight: bold;
}

tbody tr td {
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    margin: 0;
}

tbody tr:nth-child(even) {
    background-color: #dddddd;
}

tbody tr:nth-child(even) td {
    background-color: #dddddd;
    border-color: #dddddd;
}

.specific-type {
}

.alias-type {
    color: blue;
}

.generic-type {
    color: red;
}

.other-type {
    color: green;
}

.legend {
    margin-bottom: 1.5em;
    white-space: pre;
}

.legend-label {
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
}
